<div class="create-new-container">
<h1>Create Manager</h1>

<div class="container">

<div class="create-new-and-guidlines">
  <div class="create-new">
    <%= simple_form_for [@manager] do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :website %>
      <%= f.input :photo, as: :file%>
      <%= f.submit "Add a Company or Manager", class: "review-button" %>
  <% end %>
</div>

<div class="guidlines-card">
  <h2>Keep it Real</h2>
  <p>Thank you for contributing to the community.
  Your opinion will help others make decisions about jobs and companies.
  </p>
  <h4>Please stick to the Community Guidelines and do not post:</h4>
    <li>Aggressive or discriminatory language</li>
    <li>Profanities</li>
    <li>Trade secrets/confidential information</li>
  <p>Thank you for doing your part to keep PropView the most trusted place to find a home you love.
  See the Community Guidelines for more details.</p>
</div>

</div>

</div>

</div>
