<div class="container">

  <div class="row my-2">

    <div class="manager-show-info">

      <div class="manager-show-info-avatar">
        <%= cl_image_tag @manager.photo.key, crop: :fill, class: "manager-logo d-flex mt-1" %>
        <%# <img class="manager-logo d-flex mt-1" src="https://img.freepik.com/premium-vector/company-icon-simple-element-illustration-company-concept-symbol-design-can-be-used-web-mobile_159242-7784.jpg" alt=""> %>
      </div>

      <div class="manager-show-info-top">
      <div class="manager-show-info-top-bookmark">
        <div>
          <h2 class="manager-show-name">
            <%= @manager.name %>
          </h2>
        </div>
        <div class="manager-show-info-bookmark">
          <% if current_user.bookmarked_managers.include?(@manager) %>
            <%= button_to manager_bookmark_path(@manager, current_user.bookmarks.find_by(manager: @manager)), method: :delete, class: "btn btn-danger" do %>
              <i id="heart-icon" class="fa-regular fa-heart"></i>
            <% end %>
          <% else %>
            <%= button_to manager_bookmarks_path(@manager), method: :post, class: "button-bookmark" do %>
              <i id="heart-icon" class="fa-solid fa-heart"></i>
            <% end %>
          <% end %>
        </div>
      </div>


        <%# </div> %>
        <div>
        <h3 class="manager-show-address">
        <%= @manager.address %>
        </h3>
        <p> <%= @manager.website.nil? ? "" : @manager.website %></p>
        <h2 class="review-pro"><%= ratingvalue = @manager.reviews.map { |review| review.rating }
              if ratingvalue.empty?
                ""
              else
            "★ #{(ratingvalue.sum / ratingvalue.count).round(1)}"
            end
            %></h2>
        </div>
      <%# </div> %>
      </div>

    </div>
  </div>
    <%# </div> %>



  <%# </div> %>

      <div class="manager-review-and-properties">

        <div class="col-12 col-lg-9 p-3">
        <div class="reviews-card">
          <div class="review-on-top">
            <h2>Reviews: <%= ratingvalue = @manager.reviews.map { |review| review.rating }
              if ratingvalue.empty?
                ""
              else
            "★ #{(ratingvalue.sum / ratingvalue.count).round(1)}"
            end
            %></h2>
            <button class="select-button"><%= link_to "Add a Review", new_manager_review_path(@manager) %></button>
          </div>



          <div class="review-section">
            <% @manager.reviews.reverse.each do |review| %>
              <div class="review-cards">
                <div class="review-cards-top-line">
                  <% if review.property.nil? %>
                    <p><%= review.title %></p>
                    <% else %>
                    <%= link_to "#{review.property.address}", property_path(review.property) %>
                    <% end %>
                  <h3>★ <%= review.rating %></h3>
                </div>
                <p class="review-cards-date"><small><%= review.created_at.strftime('%d/%m/%Y') %></small></p>
                <div class="review-cards-content">
                  <h4 class="review-pro">Pros:</h4>
                  <p>''<%= review.pros %>''</p>
                  <h4 class="review-con">Cons:</h4>
                  <p>''<%= review.cons %>''</p>
                  <h4>Advice:</h4>
                  <p>''<%= review.advice %>''</p>
                </div>
                <div class="review-cards-ras">
                  <p><%= review.location.empty? ? "" : "Location: #{review.location}" %></p>
                  <p><%= review.rent.nil? ? "" : "Rent: £#{review.rent.to_i} p.m" %></p>
                  <p><%= review.service_charge.nil? ? "" : "Service Charge: £#{review.service_charge.to_i} p.a" %></p>
                </div>
              </div>
            <% end %>
          </div>
        </div>


          <div class="mt-4">
            <div class="map-card">
              <div>
                <h2 class="map-property-name"><%= @manager.address %></h2>
                <div style="width: 100%; height: 600px;"
                    data-controller="map"
                    data-map-marker-value="<%= @marker.to_json %>"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
              </div>
            </div>
          </div>
        </div>

          <div class="">

            <div class="managers-properties-card">
                <h3 class="text-center">Properties</h3>
                <% @manager.properties.each do |property| %>
                <div class="manager-properties-small-card">
                  <p class="manager-properties-small-card-text"><%= link_to "#{property.address}", property_path(property) %></p>
                  <p>No. of Reviews:</p>
                  <p><%= property.reviews.count %></p>
                </div>
                <% end %>
            </div>

          </div>

       </div>


  <div class="row my-2">

  </div>

</div>
</div>
