<h1>My Properties</h1>

<% @user_properties.each do |property| %>
  <div>
    <h3><%= property.name %></h3>
    <p>Address: <%= property.address %></p>
    <p>Property Type: <%= property.property_type %></p>
    <p>Bedrooms: <%= property.bedrooms %></p>
    <p>Bathrooms: <%= property.bathrooms %></p>
    <p>Description: <%= property.description %></p>
  </div>
<% end %>
