<h1>New Property</h1>

<div class="container">

  <%= simple_form_for [@property] do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :property_type %>
    <%= f.input :bedrooms %>
    <%= f.input :bathrooms %>
    <%# <%= f.select :manager, Manager.all.name %>
    <%= f.submit "Submit New Property", class: "btn btn-success" %>
<% end %>

</div>
