<div class="create-new-container">



<div class="container">




<div class="property-create-new-top">
<div class="property-create-new-top-inside">
 <h1>New Property</h1>
 <div>
  <p>When creating a new property, it must be attached to a Landlord, Owner or Manager of that property.</p>
  <p>If you can't find the manager in the form, please add a new manager below.</p>
 </div>
    <div class="property-create-new-top-button">
      <%= link_to 'Add a Company or Manager', new_manager_path, class: 'review-button' %>
    </div>
</div>
</div>

<div class="create-new-and-guidlines">



<div class="create-new">
  <div class="row mb-3">
  </div>

  <%= simple_form_for @property, url: properties_path, method: :post, html: { class: 'form-horizontal' } do |f| %>
    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.input :manager_id, collection: @managers, label_method: :name, value_method: :id, prompt: "Select a Manager", input_html: { id: 'manager-select' } %>
      </div>
      <div class="col-md-6">
        <%= f.input :name %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.input :address %>
      </div>
      <div class="col-md-6">
        <%= f.input :property_type, collection: ["Houseboat", "Apartment", "House", "Semi-Detached", "Terrace", "Studio"], prompt: "Select a Property Type" %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-6">
        <%= f.input :bedrooms %>
      </div>
      <div class="col-md-6">
        <%= f.input :bathrooms %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= f.submit "Add a New Property", class: "review-button" %>
      </div>
    </div>
  <% end %>
</div>

  <div class="guidlines-card">
    <h2>Keep it Real</h2>
    <p>Thank you for contributing to the community.
    Your opinion will help others make decisions about jobs and companies.
    </p>
    <h4>Please stick to the Community Guidelines and do not post:</h4>
      <li>Aggressive or discriminatory language</li>
      <li>Profanities</li>
      <li>Trade secrets/confidential information</li>
    <p>Thank you for doing your part to keep PropView the most trusted place to find a home you love.
    See the Community Guidelines for more details.</p>
  </div>

    </div>
</div>

</div>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    var managerSelect = document.getElementById("manager-select");
    managerSelect.options[0].disabled = true;
  });
</script>
