<h1>New Property</h1>

<div class="container">
  <%= simple_form_for @property do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :description %>
      <%= f.input :property_type %>
      <%= f.input :bedrooms %>
      <%= f.input :bathrooms %>
      <%= f.input :manager_id, as: :hidden, input_html: { id: "property_manager_id" } %>
      <%= text_field_tag :manager_name, nil, placeholder: "Search or create a manager", id: "property_manager_name", class: "form-control" %>

      <div id="new-manager-fields" style="display: none;">
        <%= f.input :new_manager_name, label: "Manager Name" %>
        <%= f.input :new_manager_address, label: "Manager Address" %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
