<h1>New Property</h1>

<div class="container">
  <div class="row mb-3">
    <div class="custom-manager-input">
      <%= simple_form_for @property do |f| %>
        <%= f.input :manager_id, collection: @managers, label_method: :name, value_method: :id, prompt: "Select a Manager", input_html: { id: 'manager-select' } %>
      <% end %>
    </div>
    <div class="custom-button">
      <%= link_to 'Add New Manager', new_manager_path, class: 'btn btn-primary' %>
    </div>
  </div>

  <%= simple_form_for @property do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :property_type %>
    <%= f.input :bedrooms %>
    <%= f.input :bathrooms %>
    <%= f.input :photo, as: :file %>
    <%# <%= f.select :manager, Manager.all.name %>
    <%= f.submit "Submit New Property", class: "btn btn-success" %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var managerSelect = document.getElementById("manager-select");
    managerSelect.options[0].disabled = true;
  });
</script>
