<h1>New Property</h1>

<div class="container">
<%= simple_form_for @property do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :property_type %>


    <div class="nested-fields" data-association="bedrooms">
      <%= f.simple_fields_for :bedrooms do |bf| %>
        <%= render 'bedroom_fields', f: bf %>
      <% end %>
      <%= link_to_add_fields 'Add Bedroom', f, :bedrooms %>
    </div>

    <%= f.input :bathrooms %>
    <%= f.input :manager_id, collection: Manager.all.map{|m| [m.address, m.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
