<h1>New Property</h1>

<div class="container">
<%= simple_form_for @property do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :property_type %>
    <%= f.input :bedrooms %>

    <%= f.input :bathrooms %>
    <%= f.input :manager_id, collection: Manager.all.map{|m| [m.address, m.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
