<div class="container">

  <div class="row my-2">

    <div class="property-photos-card col-12 col-lg-5 p-3">

      <div class="rounded">
        <img class="main-property-photo" src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="house" width="100%">
      </div>

      <div class="secondary-property-photos d-flex justify-content-between my-1">
        <img class="secondary-property-photo" src="https://plus.unsplash.com/premium_photo-1674815327132-6a17c43761ae?q=80&w=1270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="secondary-property-photo" src="https://images.unsplash.com/photo-1618220179428-22790b461013?q=80&w=1227&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="secondary-property-photo" src="https://images.unsplash.com/photo-1616046229478-9901c5536a45?q=80&w=1160&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
        <img class="secondary-property-photo" src="https://images.unsplash.com/photo-1502005229762-cf1b2da7c5d6?q=80&w=1287&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      </div>
    </div>


    <div class="property-info col-12 col-lg-4 my-2">

        <h1><%= @property.address %></h1>
        <p class="m-3">⭐️⭐️⭐️⭐️⭐️</p>
          <div class="list-inline-item d-flex justify-content-between m-3">
            <div>
              <p class="info-name">PROPERTY TYPE</p>
              <p class="text-center"><%= @property.property_type %></p>
            </div>

            <div>
              <p class="info-name">BEDS</p>
              <p class="text-center"><%= @property.bedrooms %></p>
            </div>

            <div>
              <p class="info-name">BATHROOMS</p>
              <p class="text-center"><%= @property.bathrooms %></p>

              <%# <ul class="list-inline text-center align-items-center"> %>
            </div>

          </div>

    </div>


    <div class="building-company-card col-12 col-lg-3 p-3">
      <div class="rounded">
        <h3>Building Company</h3>
        <img class="main-property-photo" src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="house" width="100%">
        <p class="p-1"><%= @manager.address %></p>
        <p>button here</p>
      </div>
    </div>

  </div>

  <div class="row my-2">
    <div class="reviews-card col-12 col-lg-9 p-3">
      <div class="review-on-top">
      <h2>Reviews: <%= ratingvalue = @property.reviews.map { |review| review.rating }
          if ratingvalue.empty?
            ""
          else
        "★ #{(ratingvalue.sum / ratingvalue.count).round(1)}"
        end
      %></h2>
      <button type="select-button"><%= link_to "Add a Review", new_manager_review_path(@manager, property_id: @property.id) %></button>
      </div>

      <div class="review-section">
        <% @property.reviews.reverse.each do |review| %>
          <div class="review-cards">
            <div class="review-cards-top-line">
              <h2>(Review Title Here)</h2>
              <h3>★ <%= review.rating %></h3>
            </div>
            <p class="review-cards-date"><small><%= review.created_at.strftime('%d/%m/%Y') %></small></p>
            <div class="review-cards-content">
              <h4 class="review-pro">Pros:</h4>
              <p>''<%= review.pros %>''</p>
              <h4 class="review-con">Cons:</h4>
              <p>''<%= review.cons %>''</p>
              <h4>Advice:</h4>
              <p>''<%= review.advice %>''</p>
            </div>
            <div class="review-cards-ras">
              <p> <%= review.rent.nil? ? "" : "Rent: #{review.rent.to_i} p.m" %></p>
              <p><%= review.service_charge.nil? ? "" : "Service Charge: #{review.service_charge.to_i} p.a" %></p>
            </div>
          </div>
        <% end %>
      </div>


    </div>

    <div class="similar-properties-card col-12 col-lg-3 p-3">
      <h3>Similar Properties</h3>

    </div>
  </div>

  <div class="row my-2">
    <div class="map-card">
      <div>
        <h2 class="map-property-name"><%= @property.address %></h2>

        <div class="map-border">
            <img class="rounded" src="https://images.unsplash.com/photo-1569336415962-a4bd9f69cd83?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="temp-map" width="100%" height="100%">
        </div>

      </div>
    </div>
  </div>
</div>
