
<div class="home-page">


  <div class="search-info-home">
    <div class="container pt-5">

        <div class="search-info-text">
          <h1>Read Reviews.</h1>
          <h1>Write Reviews.</h1>
          <h1>Feel safe choosing your next home.</h1>
        </div>

        <div id="search-bar">

            <%= form_with url: pages_path, method: :get, class: "d-flex inside-bar" do %>
              <%= text_field_tag :query,
                    params[:query],
                    class: "form-control",
                    placeholder: " Search for Property, Company or Address"
                %>
              <%= submit_tag "Search", name: "", class: "btn btn-search" %>
            <% end %>

        </div>

    </div>
  </div>

  <div class="home-page-search">

      <%= image_tag "house_searching.jpg", class: "", alt: "" %>
      <%= image_tag "two_reviews_words.png", class: "", alt: "" %>

  </div>


    <div class="home-text-end">
      <div class="home-text-end-text">
        <h3>PropView is for tennants, leaseholders, council tennants, and more.</h3>
        <h3>Where you can view and share your experiences.</h3>
        <h3>Be able to search real users experiences about the next property you are looking at.</h3>
      </div>
      <div class="image-bottom-resize">
        <img  src="https://images.pexels.com/photos/3960567/pexels-photo-3960567.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
      </div>
    </div>

    <div class="lower-image">
      <div class="home-page-bottom-image">
        <%= image_tag "upvote_review.png", class: "", alt: "" %>
      </div>
      <div class="home-page-bottom-image-text">

        <h3>Search for properties, landlords, estate agencies, housebuilders, councils and housing associations.</h3>
        <h3>Add your personal stories for others to view.</h3>
        <h3>If you can't find a property you can add it, with your review and advice for others.</h3>
      </div>
    </div>

</div>
