<h1>Search:</h1>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3" id="search-bar">
    <%= form_with url: pages_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search for a Property, Company or Address..."
        %>
      <%= submit_tag "Search", name: "", class: "btn btn-search" %>
    <% end %>
  </div>
</div>

<div class="search-container mt-3" >
  <% @results.map do |result| %>
    <div class="search-cards">
      <div class="search-cards-top">
        <div class="search-cards-title">
          <img src="https://img.freepik.com/premium-vector/company-icon-simple-element-illustration-company-concept-symbol-design-can-be-used-web-mobile_159242-7784.jpg" >
          <h3><%= result.searchable.name %></h3>
        </div>
          <button class="select-button"><%= link_to "Select", result.searchable_type == "Manager" ? manager_path(result.searchable.id) : property_path(result.searchable.id) %></button>
      </div>
      <div class="search-cards-address">
        <p><%= result.searchable.address %></p>
      </div>
      <div class="search-cards-review">
        <p>''<%= result.searchable.reviews.last.nil? ? "Waiting for first Review!" : result.searchable.reviews.last.pros %>''</p>
      </div>
    </div>
  <% end %>
</div>
